<%- include layouts/header.ejs %>

      <div class="span12">
          <ul class="nav nav-tabs">
              <li class="inactive"><a href="offerings" data-toggle="tab">Offerings</a></li>
              <li class="inactive"><a href="enrollments" data-toggle="tab">Enrollments</a></li>
              <li class="active"><a data-toggle="tab">Customers</a></li>
              <li class="inactive"><a href="reports" data-toggle="tab">Reports</a></li>
          </ul>

          <div class="tab-content">

<!-- Ajoy modified -->

<table id="customer_table" class="table table-striped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Student contact</th>
      <th>Parent </th>
      <th>Parent contact</th>
      <th>Address</th>
      <th>Payment Type</th>
      <th class="contact header"> <a href="/customers/add" class="btn btn-info"><i class="icon-heart"></i>Create Customer</a></th>
    </tr>
</thead>

<%
  for(var i = 0;i < customer_data.length;i++) {
%>

      <tr>
        <td nowrap><%=customer_data[i].student_first_name%>, <%= customer_data[i].student_last_name%> </td>
        <td><%=customer_data[i].student_email_address%>, <br> <%= customer_data[i].student_phone%> </td>
        <td nowrap><%=customer_data[i].parent_first_name%>, <%= customer_data[i].parent_last_name%> </td>
        <td><%=customer_data[i].parent_email_address%>, <BR> <%= customer_data[i].parent_cell_phone%> </td>
        <td nowrap><%=customer_data[i].address1%>, <%= customer_data[i].address2%><br> 
            <%=customer_data[i].city%>, <%= customer_data[i].state%>, <%= customer_data[i].postal%>
        </td>
        <td><%=customer_data[i].payment_mode%>, <br> <%= customer_data[i].card_type%> </td>
        <td>
<a href="../customers/edit/<%=customer_data[i].id%>" class="btn btn btn-primary button-rounded" rel="nofollow">Edit</a> 
<a href="../customers/delete/<%=customer_data[i].id%>" class="btn btn btn-primary button-rounded" rel="nofollow">Delete</a> 
        </td>

      </tr>
<%
}
%>

</table>



          </div> <!-- .tab-content -->
      </div> <!-- .span12 -->
    </div>
</div> <!-- .container -->


<footer>

    <div class="container">
            <div class="span3">
		    <a href="http://www.powerup.com/pages/about">
		    <h4>About Us</h4>
		    </a>
            </div>

            <div class="span3">
            	    <a href="http://www.powerup.com/contacts/contact_admin">
	            <h4>Contact Us</h4>
		    </a>
            </div>

        </div>
    </div> <!-- .container -->
</footer>

